Checks: '
    *,
    cppcoreguidelines-pro-type-member-init,
    modernize-redundant-void-arg,
    modernize-use-bool-literals,
    modernize-use-default-member-init,
    modernize-use-nullptr,
    readability-braces-around-statements,
    readability-redundant-member-init,
    -google-readability-namespace-comments,
    -modernize-use-trailing-return-type,
    -llvmlibc-*,
    -zircon-*,
    -mpi-*,
    -fuchsia-default-arguments-calls,
    -altera-unroll-loops
  '
HeaderFileExtensions: ['', h, hh, hpp, hxx, inc, glsl]
ImplementationFileExtensions: [c, cc, cpp, cxx, m, mm, java]
HeaderFilterRegex: (include)/
ExcludeHeaderFilterRegex: godot-cpp/
FormatStyle: file
CheckOptions:
  cppcoreguidelines-pro-type-member-init.IgnoreArrays: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true